@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");
$mainColor: #000;
$primaryColor: #fff;
@mixin border-rad($radius) {
   -webkit-border-radius: $radius;
   -moz-border-radius: $radius;
   border-radius: $radius;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font: {
      family: "Source Code Pro", monospace, arial, helvetica, cursive;
      size: 1em;
      weight: 500;
   }
   line-height: 1.7em;
   letter-spacing: 2px;
   word-spacing: 2px;
   background: linear-gradient(to right, #ece9e6, #ffffff);
   color: $mainColor;
}
::-webkit-scrollbar {
   background-color: red;
   width: 7px;
}
::-webkit-scrollbar-track {
   width: 5px;
   background-color: $primaryColor;
}
::-webkit-scrollbar-thumb {
   width: 5px;
   border-radius: 30px;
   background: linear-gradient(to top, #232526, #414345);
}

@import "styled/header";
.home-limited {
   display: flex;
   margin: 2em 0;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   border-bottom: 2px solid $mainColor;
   padding: 0 15px 30px 15px;
   #heading {
      display: flex;
   }
   #top {
      text-decoration: none;
      color: $mainColor;
      font-weight: bold;
   }
}
@import "styled/back2top";
main {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   background: linear-gradient(to right, #232526, #414345);
   padding: 2em;
   %h2 {
      text-align: center;
   }
   h2 {
      @extend %h2;
   }
   h3 {
      padding: 5px;
      @extend %h2;
      font-size: 0.75em;
   }
   h4 {
      font-weight: bold;
      text-shadow: 0 0 1px $mainColor;
      @extend %h2;
      span {
         text-decoration: line-through;
      }
   }
   h5 {
      color: seagreen;
      @extend %h2;
   }
   @keyframes anime {
      0% {
         opacity: 0;
      }
      50% {
         opacity: 0.5;
      }
      100% {
         opacity: 1;
      }
   }
   .buying {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
   }
   %main {
      margin: 15px;
      color: $primaryColor;
      font-weight: bold;
      text-transform: uppercase;
      border: 2px solid transparent;
      border-radius: 30px;
      padding: 10px 30px;
      font-size: 0.8em;
   }
   .item-cart {
      background: orangered;
      @extend %main;
   }
   .item-buy {
      background: orange;
      @extend %main;
   }
   .size {
      font-weight: bold;
      text-shadow: 0 0 0 black;
      margin: 15px;
      font-size: 0.8em;
      > button {
         margin: 1.5ch;
         padding: 10px;
         background: transparent;
         border: 1px solid lightgrey;
         font-weight: bold;
         &:hover {
            border: 1px solid $mainColor;
         }
      }
   }
   #women {
      background: white;
      width: 400px;
      height: 700px;
      margin: 30px 0;
      position: relative;
      #image {
         width: 180px;
         height: 320px;
         margin: 20px auto;
         display: block;
      }
      #leftBtn {
         position: absolute;
         top: 30%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #rightBtn {
         position: absolute;
         top: 30%;
         right: 0%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #oos2 {
         border: 1px dashed lightgrey;
         color: lightgrey;
      }
      #clr {
         margin-left: 15px;
         display: none;
         text-shadow: 0 0 0 black;
      }
      #images {
         display: none;
         justify-content: space-evenly;
         margin-bottom: 15px;
         img {
            width: 50px;
            height: 100px;
         }
      }
   }
   #women1 {
      background: white;
      width: 400px;
      height: 700px;
      margin: 30px 0;
      position: relative;
      #image1 {
         width: 270px;
         height: 320px;
         margin: 20px auto;
         display: block;
      }
      #leftBtn1 {
         position: absolute;
         top: 30%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #rightBtn1 {
         position: absolute;
         top: 30%;
         right: 0%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #clr1 {
         margin-left: 15px;
         display: none;
         text-shadow: 0 0 0 black;
      }
      #images1 {
         display: none;
         justify-content: space-evenly;
         margin-bottom: 15px;
         img {
            width: 80px;
            height: 100px;
         }
      }
   }
   #women2 {
      background: white;
      width: 400px;
      height: 700px;
      margin: 30px 0;
      position: relative;
      #image2 {
         width: 270px;
         height: 350px;
         margin: 20px auto;
         display: block;
         object-fit: cover;
      }
      #leftBtn2 {
         position: absolute;
         top: 30%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #rightBtn2 {
         position: absolute;
         top: 30%;
         right: 0%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #clr2 {
         margin-left: 15px;
         display: none;
         text-shadow: 0 0 0 black;
      }
   }
   #women3 {
      background: white;
      width: 400px;
      height: 700px;
      margin: 30px 0;
      position: relative;
      #image3 {
         width: 300px;
         height: 320px;
         margin: 20px auto;
         display: block;
      }
      #hurry {
         color: red;
         text-align: center;
      }
      #leftBtn3 {
         position: absolute;
         top: 30%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #rightBtn3 {
         position: absolute;
         top: 30%;
         right: 0%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #clr2 {
         margin-left: 15px;
         display: none;
         text-shadow: 0 0 0 black;
      }
      #images3 {
         display: none;
         justify-content: space-evenly;
         margin-bottom: 15px;
         img {
            width: 100px;
            height: 100px;
         }
      }
   }
   #women4 {
      background: white;
      width: 400px;
      height: 700px;
      margin: 30px 0;
      position: relative;
      #image4 {
         width: 170px;
         object-fit: cover;
         height: 320px;
         margin: 20px auto;
         display: block;
      }
      #leftBtn4 {
         position: absolute;
         top: 30%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #rightBtn4 {
         position: absolute;
         top: 30%;
         right: 0%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #clr3 {
         margin-left: 15px;
         display: none;
         text-shadow: 0 0 0 black;
      }
      #images4 {
         display: none;
         justify-content: space-evenly;
         margin-bottom: 15px;
         img {
            width: 80px;
            height: 100px;
         }
      }
   }
   #women5 {
      background: white;
      width: 400px;
      height: 700px;
      margin: 30px 0;
      position: relative;
      #image5 {
         width: 120px;
         height: 320px;
         margin: 20px auto;
         display: block;
      }
      #leftBtn5 {
         position: absolute;
         top: 30%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #rightBtn5 {
         position: absolute;
         top: 30%;
         right: 0%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #hurry1 {
         color: red;
         text-align: center;
      }
      #clr4 {
         margin-left: 15px;
         display: none;
         text-shadow: 0 0 0 black;
      }
      #images5 {
         display: none;
         justify-content: space-evenly;
         margin-bottom: 15px;
         img {
            width: 40px;
            height: 100px;
         }
      }
   }
   #women6 {
      background: white;
      width: 400px;
      height: 700px;
      margin: 30px 0;
      position: relative;
      #image6 {
         width: 150px;
         height: 320px;
         margin: 20px auto;
         display: block;
      }
      #leftBtn6 {
         position: absolute;
         top: 30%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #rightBtn6 {
         position: absolute;
         top: 30%;
         right: 0%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #clr5 {
         margin-left: 15px;
         display: none;
         text-shadow: 0 0 0 black;
      }
      #images6 {
         display: none;
         justify-content: space-evenly;
         margin-bottom: 15px;
         img {
            width: 80px;
            height: 100px;
         }
      }
   }
   #women7 {
      background: white;
      width: 400px;
      height: 700px;
      margin: 30px 0;
      position: relative;
      #image7 {
         width: 110px;
         height: 320px;
         margin: 20px auto;
         display: block;
      }
      #leftBtn7 {
         position: absolute;
         top: 30%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #rightBtn7 {
         position: absolute;
         top: 30%;
         right: 0%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #clr6 {
         margin-left: 15px;
         display: none;
         text-shadow: 0 0 0 black;
      }
      #out {
         border: 1px dashed lightgrey;
         color: lightgrey;
         cursor: pointer;
      }
      #images7 {
         display: none;
         justify-content: space-evenly;
         margin-bottom: 15px;
         img {
            width: 35px;
            height: 100px;
         }
      }
   }
   #men {
      background: white;
      width: 400px;
      height: 700px;
      margin: 30px 0;
      position: relative;
      #image8 {
         width: 250px;
         height: 320px;
         margin: 20px auto;
         display: block;
      }
      #leftBtn8 {
         position: absolute;
         top: 30%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #rightBtn8 {
         position: absolute;
         top: 30%;
         right: 0%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #clr7 {
         margin-left: 15px;
         display: none;
         text-shadow: 0 0 0 black;
      }
      #men3 {
         opacity: 0.2;
      }
      #out1 {
         border: 1px dashed lightgrey;
         color: lightgrey;
         cursor: pointer;
      }
      #images8 {
         display: none;
         justify-content: space-evenly;
         margin-bottom: 15px;
         img {
            width: 100px;
            height: 100px;
         }
      }
   }
   #men-1 {
      background: white;
      width: 400px;
      height: 700px;
      margin: 30px 0;
      position: relative;
      #image9 {
         width: 250px;
         height: 320px;
         margin: 20px auto;
         display: block;
      }
      #leftBtn9 {
         position: absolute;
         top: 30%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #rightBtn9 {
         position: absolute;
         top: 30%;
         right: 0%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
   }
   #men-2 {
      background: white;
      width: 400px;
      height: 700px;
      margin: 30px 0;
      position: relative;
      #image10 {
         width: 300px;
         height: 320px;
         margin: 20px auto;
         display: block;
      }
      #leftBtn10 {
         position: absolute;
         top: 30%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #rightBtn10 {
         position: absolute;
         top: 30%;
         right: 0%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
   }
   #men-3 {
      background: white;
      width: 400px;
      height: 700px;
      margin: 30px 0;
      position: relative;
      #image11 {
         width: 170px;
         height: 320px;
         margin: 20px auto;
         display: block;
      }
      #leftBtn11 {
         position: absolute;
         top: 30%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #oos1 {
         border: 1px dashed lightgrey;
         color: lightgrey;
      }
      #rightBtn11 {
         position: absolute;
         top: 30%;
         right: 0%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
   }
   #acc {
      background: white;
      width: 400px;
      height: 550px;
      margin: 30px 0;
      position: relative;
      #image12 {
         width: 300px;
         height: 150px;
         margin: 20px auto;
         display: block;
      }
      #leftBtn12 {
         position: absolute;
         top: 10%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #rightBtn12 {
         position: absolute;
         top: 10%;
         right: 0%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #cap {
         margin: 0 auto;
         display: block;
      }
   }
   #acc1 {
      background: white;
      width: 400px;
      height: 700px;
      margin: 30px 0;
      position: relative;
      #image13 {
         width: 300px;
         height: 350px;
         margin: 20px auto;
         display: block;
      }
      #leftBtn13 {
         position: absolute;
         top: 30%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #rightBtn13 {
         position: absolute;
         top: 30%;
         right: 0%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      h6 {
         color: red;
         text-align: center;
      }
      .highlight {
         margin-left: 15px;
         display: none;
         p {
            font-size: 0.8em;
            text-shadow: 0 0 0 $mainColor;
            font-weight: bold;
         }
         ul {
            margin-left: 5em;
            align-self: center;
            font-size: 0.7em;
            width: 70%;
            font-weight: bold;
         }
      }
   }
   #acc2 {
      background: white;
      width: 400px;
      height: 700px;
      margin: 30px 0;
      position: relative;
      #image14 {
         width: 250px;
         height: 320px;
         margin: 20px auto;
         display: block;
      }
      #leftBtn14 {
         position: absolute;
         top: 30%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #rightBtn14 {
         position: absolute;
         top: 30%;
         right: 0%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #clr8 {
         margin-left: 15px;
         display: none;
         text-shadow: 0 0 0 black;
      }
      #images9 {
         display: none;
         justify-content: space-evenly;
         margin-bottom: 15px;
         margin-top: 10px;
         img {
            width: 120px;
            height: 100px;
         }
      }
   }
   #acc3 {
      background: white;
      width: 400px;
      height: 700px;
      margin: 30px 0;
      position: relative;
      #image15 {
         width: 250px;
         height: 320px;
         margin: 20px auto;
         display: block;
      }
      #leftBtn15 {
         position: absolute;
         top: 30%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #rightBtn15 {
         position: absolute;
         top: 30%;
         right: 0%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #clr9 {
         margin-left: 15px;
         display: none;
         text-shadow: 0 0 0 $mainColor;
      }
      .kid-size {
         margin-left: 15px;
         p {
            font-weight: bold;
            font-size: 0.8em;
            text-shadow: 0 0 0 $mainColor;
         }
         > button {
            background: transparent;
            border: 1px solid lightgrey;
            padding: 5px;
            margin: 5px 0;
            font-weight: bold;
            &:hover {
               border: 1px solid $mainColor;
            }
         }
      }
      #images10 {
         display: none;
         justify-content: space-evenly;
         margin-bottom: 15px;
         margin-top: 10px;
         img {
            width: 70px;
            height: 70px;
         }
      }
   }
   #acc4 {
      background: white;
      width: 400px;
      height: 700px;
      margin: 30px 0;
      position: relative;
      #image16 {
         width: 150px;
         height: 320px;
         margin: 20px auto;
         display: block;
      }
      #leftBtn16 {
         position: absolute;
         top: 30%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      #rightBtn16 {
         position: absolute;
         top: 30%;
         right: 0%;
         font-size: 3em;
         border: none;
         padding: 5px;
         background: transparent;
         color: $mainColor;
      }
      h6 {
         color: red;
         text-align: center;
      }
      .kid-size1 {
         margin-left: 15px;
         p {
            font-weight: bold;
            font-size: 0.8em;
            text-shadow: 0 0 0 $mainColor;
         }
         > button {
            background: transparent;
            border: 1px solid lightgrey;
            padding: 5px;
            margin: 5px 0;
            font-weight: bold;
            &:hover {
               border: 1px solid $mainColor;
            }
         }
      }
   }
}
footer {
   background: $mainColor;
   color: $primaryColor;
   display: flex;
   padding: 20px;
   align-items: center;
   justify-content: space-between;
   span {
      position: relative;
      font-size: 2em;
      font-weight: bold;
      animation: heart 5s ease-in-out 0.1s infinite alternate;
   }
   %phone {
      text-decoration: none;
      color: $primaryColor;
      font-weight: bold;
      margin: 0 5px;
   }
   @keyframes heart {
      0% {
         color: crimson;
         filter: drop-shadow(0 0px 1px red);
      }
      25% {
         color: crimson;
         filter: drop-shadow(1px -3px 1px red);
      }
      50% {
         color: crimson;
         filter: drop-shadow(3px -6px 1px red);
      }
      75% {
         color: crimson;
         filter: drop-shadow(5px -9px 1px red);
      }
      100% {
         color: crimson;
         filter: drop-shadow(7px -12px 1px red);
      }
   }
   .soc-links {
      @extend %phone;
   }
   .fa-facebook {
      &:hover {
         font-size: 1.7em;
         color: #0072ff;
         transition: all 1s;
      }
   }
   .fa-instagram {
      &:hover {
         font-size: 1.7em;
         color: #fd1d1d;
         filter: drop-shadow(0 0 1px #fcb045);
         transition: all 1s;
      }
   }
   .fa-youtube {
      &:hover {
         font-size: 1.7em;
         color: crimson;
         transition: all 1s;
      }
   }
   .fa-linkedin {
      &:hover {
         font-size: 1.7em;
         color: #021b79;
         transition: all 1s;
      }
   }
}
@media only screen and (min-width: 689px) and (max-width: 1024px) {
   header {
      font-size: 0.73em;
      img {
         width: 100px;
      }
      .fa-shopping-cart {
         font-size: 1.5em;
      }
   }
   footer {
      font-size: 0.7em;
   }
}
@media only screen and (min-width: 320px) and (max-width: 688px) {
   header {
      position: relative;
      display: flex;
      flex-direction: column;
      img {
         width: 200px;
      }
      .navigation {
         position: relative;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 100vw;
         background: rgba(0, 0, 0, 0.2);
         clip-path: polygon(
            0% 15%,
            15% 15%,
            15% 0%,
            85% 0%,
            85% 15%,
            100% 15%,
            100% 85%,
            85% 85%,
            85% 100%,
            15% 100%,
            15% 85%,
            0% 85%
         );

         li {
            display: none;
            margin: 25px;
            font-size: 0.8em;
         }
      }
      label {
         display: block;
         font-size: 2.5em;
         margin-bottom: 10px;
         margin-right: 1.5ch;
      }
      #toggle:checked + .navigation li {
         display: block;
         animation: oj 0.9s linear 0.1s;
         @keyframes oj {
            from {
               opacity: 0;
               transform: translateY(-100px) rotateZ(360deg) scale(0);
            }
            to {
               opacity: 1;
               transform: translateY(0px) rotateZ(0) scale(1);
            }
         }
      }
      .fa-shopping-cart {
         display: block;
         margin: 20px auto;
      }
   }
   .home-limited {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      #time {
         margin-top: 15px;
      }
   }
   main {
      font-size: 0.7em;
      padding: 10px;
      .buying {
         display: flex;
         flex-direction: column;
      }
      .size {
         font-size: 0.7em;
         > button {
            margin: 1ch;
            font-size: 0.6em;
         }
      }
      #women {
         #image {
            height: 250px;
         }
         #leftBtn {
            top: 10%;
         }
         #rightBtn {
            top: 10%;
         }
      }
      #women1 {
         #image1 {
            width: 200px;
            height: 250px;
         }
         #leftBtn1 {
            top: 10%;
         }
         #rightBtn1 {
            top: 10%;
         }
      }
      #women2 {
         #image2 {
            width: 200px;
            height: 250px;
            object-fit: contain;
         }
         #leftBtn2 {
            top: 10%;
         }
         #rightBtn2 {
            top: 10%;
         }
      }
      #women3 {
         #image3 {
            width: 200px;
            height: 250px;
            // object-fit: contain;
         }
         #leftBtn3 {
            top: 10%;
         }
         #rightBtn3 {
            top: 10%;
         }
         #images3 {
            img {
               width: 50px;
               height: 70px;
            }
         }
      }
      #women4 {
         #image4 {
            width: 200px;
            height: 250px;
            object-fit: contain;
         }
         #leftBtn4 {
            top: 10%;
         }
         #rightBtn4 {
            top: 10%;
         }
      }
      #women5 {
         #image5 {
            width: 100px;
            height: 250px;
         }
         #leftBtn5 {
            top: 10%;
         }
         #rightBtn5 {
            top: 10%;
         }
      }
      #women6 {
         #image6 {
            width: 130px;
            height: 250px;
         }
         #leftBtn6 {
            top: 10%;
         }
         #rightBtn6 {
            top: 10%;
         }
      }
      #women7 {
         #image7 {
            width: 100px;
            height: 250px;
         }
         #leftBtn7 {
            top: 10%;
         }
         #rightBtn7 {
            top: 10%;
         }
      }
      #men {
         #image8 {
            width: 150px;
            height: 250px;
         }
         #leftBtn8 {
            top: 10%;
         }
         #rightBtn8 {
            top: 10%;
         }
      }
      #men-1 {
         #image9 {
            width: 150px;
            height: 250px;
         }
         #leftBtn9 {
            top: 10%;
         }
         #rightBtn9 {
            top: 10%;
         }
      }
      #men-2 {
         #image10 {
            width: 200px;
            height: 250px;
         }
         #leftBtn10 {
            top: 10%;
         }
         #rightBtn10 {
            top: 10%;
         }
      }
      #men-3 {
         #image11 {
            width: 130px;
            height: 250px;
         }
         #leftBtn11 {
            top: 10%;
         }
         #rightBtn11 {
            top: 10%;
         }
      }
      #acc {
         #image12 {
            width: 200px;
            height: 130px;
         }
         #leftBtn12 {
            top: 10%;
         }
         #rightBtn12 {
            top: 10%;
         }
      }
      #acc1 {
         #image13 {
            width: 200px;
            height: 250px;
         }
         #leftBtn13 {
            top: 10%;
         }
         #rightBtn13 {
            top: 10%;
         }
      }
      #acc2 {
         #image14 {
            width: 200px;
            height: 250px;
         }
         #leftBtn14 {
            top: 10%;
         }
         #rightBtn14 {
            top: 10%;
         }
      }
      #acc3 {
         #image15 {
            width: 200px;
            height: 250px;
         }
         #leftBtn15 {
            top: 10%;
         }
         #rightBtn15 {
            top: 10%;
         }
         button {
            font-size: 0.7em;
         }
      }
      #acc4 {
         #image16 {
            width: 100px;
            height: 250px;
         }
         #leftBtn16 {
            top: 10%;
         }
         #rightBtn16 {
            top: 10%;
         }
         button {
            font-size: 0.7em;
         }
      }
   }
   footer {
      font-size: 0.7em;
      display: flex;
      flex-direction: column;
      height: 17ch;
   }
}
