@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Code Pro", monospace, arial, helvetica, cursive;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.7em;
  letter-spacing: 2px;
  word-spacing: 2px;
  background: linear-gradient(to right, #ece9e6, #ffffff);
  color: #000;
}

::-webkit-scrollbar {
  background-color: red;
  width: 7px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 30px;
  background: linear-gradient(to top, #232526, #414345);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  text-transform: uppercase;
}
header img {
  width: 170px;
  align-self: flex-start;
  position: relative;
  animation: logo 0.5s linear 0.1s forwards;
}
header img:hover {
  filter: drop-shadow(0 5px 1px silver);
}
@keyframes logo {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
header .navigation {
  list-style: none;
  position: relative;
  animation: li 0.9s linear 0.1s forwards;
}
@keyframes li {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
header .navigation #active, header .navigation .links {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
header .navigation .links {
  transition: all 0.5s;
  position: relative;
}
header .navigation .links:hover {
  text-shadow: 0 0 0 #000;
}
header .navigation .links::after {
  content: "★";
  width: 0px;
  height: 0px;
  position: absolute;
  bottom: 0;
  left: 0%;
  display: none;
}
header .navigation .links:hover::after {
  display: block;
  position: absolute;
  left: 35%;
  bottom: 20%;
  animation: star 0.7s ease;
  filter: drop-shadow(2px 2px 0px silver);
}
@keyframes star {
  0% {
    opacity: 0;
    transform: translateX(-1.5vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
header .navigation #active {
  background-color: #000;
  color: #fff;
  padding: 10px;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
header .navigation li {
  display: inline;
  margin: 0 3vw;
}
header label {
  display: none;
  font-size: 2em;
  float: right;
  width: 26px;
}
header #toggle {
  display: none;
  clear: right;
}
header .fa-shopping-cart {
  margin-right: 50px;
  font-size: 1.5em;
  position: relative;
  animation: cart 1s ease 0.1s;
  cursor: pointer;
}
@keyframes cart {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

#heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 7px;
  border-bottom: 2px solid #000;
  letter-spacing: 0;
  word-spacing: 0;
}
#heading #menC-link1 {
  color: #000;
  text-shadow: 0 0 0 #000;
  font-weight: bold;
  margin-left: 20px;
}
#heading #menC-link1:hover {
  text-decoration: none;
}
#heading #menC-link2 {
  color: #000;
  font-weight: bold;
}
#heading #menC-link2:hover {
  text-decoration: none;
}
#heading .sym {
  color: silver;
  font-weight: bold;
  text-shadow: 0 0 0 silver;
}

#back2top {
  font-size: 2em;
  width: 45px;
  height: 45px;
  padding: 5px 5px 10px 5px;
  background: grey;
  text-align: center;
  position: fixed;
  bottom: 7.5%;
  right: 4%;
  z-index: 100;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#back2top a {
  text-decoration: none;
  color: #fff;
}
#back2top a:hover {
  filter: drop-shadow(0 0 2px #fff);
}

#sizechart {
  margin-top: 2ch;
  letter-spacing: 0;
  word-spacing: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
}
#sizechart table {
  display: none;
  border-spacing: 0;
  border: 1px solid lightgrey;
}
#sizechart table th {
  font-weight: bold;
  text-shadow: 0 0 0 #000;
  padding: 0px 3vw;
  background: silver;
}
#sizechart table th span {
  font-size: 0.8em;
}
#sizechart table td {
  padding: 2px 3vw;
  font-size: 0.8em;
  font-weight: bold;
}
#sizechart table tr:nth-child(even) {
  background-color: lightgrey;
}
#sizechart table tr:nth-child(odd) {
  background-color: #fcfcfc;
}
#sizechart p {
  font-weight: bold;
  text-shadow: 0 0 0 #000;
  cursor: pointer;
  color: #009a00;
}
#sizechart p:hover {
  text-decoration: underline;
  color: #ff1a1a;
}
@keyframes sizeCh {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  gap: 1.5em;
  margin-top: 2em;
}
main .item-buy, main .item-cart {
  padding: 10px;
  border: none;
  margin: 10px 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  cursor: pointer;
}
main .item-cart {
  background-color: orangered;
}
main .item-buy {
  background-color: orange;
}
main #kurti9 #rightbtn-k9, main #kurti9 #leftbtn-k9, main #kurti8 #rightbtn-k8, main #kurti8 #leftbtn-k8, main #kurti7 #rightbtn-k7, main #kurti7 #leftbtn-k7, main #kurti6 #rightbtn-k6, main #kurti6 #leftbtn-k6, main #kurti5 #rightbtn-k5, main #kurti5 #leftbtn-k5, main #kurti4 #rightbtn-k4, main #kurti4 #leftbtn-k4, main #kurti3 #rightbtn-k3, main #kurti3 #leftbtn-k3, main #kurti2 #rightbtn-k2, main #kurti2 #leftbtn-k2, main #kurti1 #rightbtn-k1, main #kurti1 #leftbtn-k1 {
  position: absolute;
  top: 15%;
  background: transparent;
  color: #000;
  border: none;
  font-size: 2.3em;
}
main .price span {
  font-size: 0.8em;
  text-decoration: line-through;
}
main .sizes {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  letter-spacing: 0;
  margin-top: 10px;
}
main .sizes p {
  text-shadow: 0 0 0 #000;
  font-weight: bold;
  font-size: 0.7em;
  margin-left: 10px;
}
main .sizes > button {
  margin: 0;
  cursor: pointer;
  padding: 5px 7px;
  background-color: transparent;
  border: 1px solid lightgrey;
}
main .sizes > button:hover {
  border: 1px solid silver;
}
main h5 {
  color: seagreen;
}
main h4 {
  font-size: 0.85em;
}
main .outOstock {
  color: silver;
  outline: 1px dashed silver;
}
main .outOstock:hover {
  opacity: 0.5;
}
main .spec-price {
  color: seagreen;
}
main .hurry {
  color: red;
}
main .colours {
  margin-top: 10px;
}
main .colours p {
  text-shadow: 0 0 0 #000;
  font-weight: bold;
  font-size: 0.7em;
  text-align: left;
  margin-left: 10px;
}
main .colours > img {
  margin-top: 10px;
  width: 38px;
  height: 50px;
  object-fit: contain;
  border: 1px solid silver;
}
main .colours > img:hover {
  transform: scale(1);
  cursor: pointer;
}
main img {
  margin-top: 10px;
  width: 200px;
  height: 200px;
  object-fit: contain;
}
main img:hover {
  transform: scale(1.05);
  transition: transform 1s;
  cursor: grabbing;
}
main .wish-list {
  cursor: pointer;
  border: none;
  background: transparent;
  color: #e6e6e6;
  font-size: 1.5em;
  position: absolute;
  top: 3%;
  right: 5%;
  transition: all 1s;
}
main .wish-list:before {
  display: none;
  content: "Add to Wish-List";
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 16ch;
  position: absolute;
  top: -50%;
  padding: 2px 0 8px 0;
  right: 0%;
  font-size: 0.5em;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
main .wish-list:hover::before {
  display: block;
}
@keyframes shake {
  0% {
    transform: skew(0);
  }
  25% {
    transform: skew(5deg);
  }
  50% {
    transform: skew(-5deg);
  }
  75% {
    transform: skew(5deg);
  }
  100% {
    transform: skew(-5deg);
  }
}
main #kurti9, main #kurti8, main #kurti7, main #kurti6, main #kurti5, main #kurti4, main #kurti3, main #kurti2, main #kurti1 {
  position: relative;
  background: #fff;
  width: 300px;
  height: 720px;
  box-shadow: 0 0 10px silver;
  text-align: center;
}
main #kurti9 #total-k9, main #kurti8 #total-k8, main #kurti7 #total-k7, main #kurti6 #total-k6, main #kurti5 #total-k5, main #kurti4 #total-k4, main #kurti3 #total-k3, main #kurti2 #total-k2, main #kurti1 #total-k1 {
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 0.8em;
}
main #kurti1 #leftbtn-k1 {
  left: 5%;
}
main #kurti1 #rightbtn-k1 {
  right: 5%;
}
main #kurti1 #total-k1 {
  margin: 13px 0 10px 0;
}
main #kurti2 #leftbtn-k2 {
  left: 5%;
}
main #kurti2 #rightbtn-k2 {
  right: 5%;
}
main #kurti2 #total-k2 {
  margin: 40px 0 10px 0;
}
main #kurti3 #leftbtn-k3 {
  left: 5%;
}
main #kurti3 #rightbtn-k3 {
  right: 5%;
}
main #kurti3 #total-k3 {
  margin: 67px 0 10px 0;
}
main #kurti4 #leftbtn-k4 {
  left: 5%;
}
main #kurti4 #rightbtn-k4 {
  right: 5%;
}
main #kurti4 #total-k4 {
  margin: 40px 0 10px 0;
}
main #kurti5 #leftbtn-k5 {
  left: 5%;
}
main #kurti5 #rightbtn-k5 {
  right: 5%;
}
main #kurti5 #total-k5 {
  margin: 40px 0 10px 0;
}
main #kurti6 #leftbtn-k6 {
  left: 5%;
}
main #kurti6 #rightbtn-k6 {
  right: 5%;
}
main #kurti6 #total-k6 {
  margin: 67px 0 10px 0;
}
main #kurti7 #leftbtn-k7 {
  left: 5%;
}
main #kurti7 #rightbtn-k7 {
  right: 5%;
}
main #kurti7 #total-k7 {
  margin: 40px 0 10px 0;
}
main #kurti8 #leftbtn-k8 {
  left: 5%;
}
main #kurti8 #rightbtn-k8 {
  right: 5%;
}
main #kurti8 #total-k8 {
  margin: 67px 0 10px 0;
}
main #kurti9 #leftbtn-k9 {
  left: 5%;
}
main #kurti9 #rightbtn-k9 {
  right: 5%;
}
main #kurti9 #total-k9 {
  margin: 40px 0 10px 0;
}

footer {
  background: #000;
  color: #fff;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  margin-top: 5ch;
}
footer span {
  position: relative;
  font-size: 2em;
  font-weight: bold;
  animation: heart 5s ease-in-out 0.1s infinite alternate;
}
footer .soc-links {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  margin: 0 5px;
}
@keyframes heart {
  0% {
    color: crimson;
    filter: drop-shadow(0 0px 1px red);
  }
  25% {
    color: crimson;
    filter: drop-shadow(1px -3px 1px red);
  }
  50% {
    color: crimson;
    filter: drop-shadow(3px -6px 1px red);
  }
  75% {
    color: crimson;
    filter: drop-shadow(5px -9px 1px red);
  }
  100% {
    color: crimson;
    filter: drop-shadow(7px -12px 1px red);
  }
}
footer .fa-facebook:hover {
  font-size: 1.7em;
  color: #0072ff;
  transition: all 0.7s;
}
footer .fa-instagram:hover {
  font-size: 1.7em;
  color: #fd1d1d;
  filter: drop-shadow(0 0 1px #fcb045);
  transition: all 0.7s;
}
footer .fa-youtube:hover {
  font-size: 1.7em;
  color: crimson;
  transition: all 0.7s;
}
footer .fa-linkedin:hover {
  font-size: 1.7em;
  color: #021b79;
  transition: all 0.7s;
}

@media only screen and (min-width: 689px) and (max-width: 1024px) {
  header {
    font-size: 0.73em;
  }
  header img {
    width: 100px;
  }
  header .fa-shopping-cart {
    font-size: 1.5em;
  }
  #sizechart {
    font-size: 0.85em;
  }
  footer {
    font-size: 0.7em;
  }
  footer .footer-content {
    flex-wrap: wrap;
  }
  footer #offers h5 {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 688px) {
  header {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  header img {
    width: 150px;
  }
  header .navigation {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: rgba(0, 0, 0, 0.2);
  }
  header .navigation li {
    display: none;
    margin: 25px;
    font-size: 0.8em;
  }
  header label {
    display: block;
    font-size: 2.5em;
    margin-bottom: 10px;
    margin-right: 1.5ch;
  }
  header #toggle:checked + .navigation li {
    display: block;
    animation: oj 0.7s linear 0s;
  }
  @keyframes oj {
    0% {
      opacity: 0;
      transform: translateX(-200px) skew(0deg) scale(0);
    }
    50% {
      opacity: 0;
      transform: translateX(-100px) scale(0.5) skew(90deg);
    }
    100% {
      opacity: 1;
      transform: translateX(0px) scale(1) skew(0deg);
    }
  }
  header .fa-shopping-cart {
    display: block;
    margin: 20px auto;
  }
  #heading {
    font-size: 0.6em;
  }
  #sizechart {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
  }
  #sizechart table th {
    font-size: 0.7em;
    padding: 0 15px;
  }
  #sizechart table td {
    padding: 0 15px;
  }
  footer {
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
    height: 20ch;
  }
}