.main-slider {
   position: relative;
   width: 80vw;
   margin: 0 auto;
   display: flex;
   animation: slider 1s linear 0.01s;
   &:hover {
      filter: drop-shadow(15px 15px 10px $mainColor);
      transition: all 1s;
   }
   @keyframes slider {
      0% {
         opacity: 0;
         transform: scale(0);
      }
      100% {
         opacity: 1;
         transform: scale(1);
      }
   }
   #slider1 {
      img {
         width: 35vw;
         height: 70ch;
      }
   }
   #slider2 {
      img {
         width: 45vw;
         height: 70ch;
      }
   }
   #btn {
      font-size: 0.7em;
      position: absolute;
      top: 50%;
      left: 40.2%;
      clip-path: polygon(100% 0%, 86% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
      padding: 15px 20px;
      background: linear-gradient(to right, hotpink 1%, crimson 50%);
      font-weight: bold;
      text-shadow: 0 0 0 $mainColor;
      text-transform: uppercase;
      text-decoration: none;
      color: $primaryColor;
      transition: all 0.7s;
      &:hover {
         background: linear-gradient(to left, hotpink 30%, crimson);
         transition: all 1.5s;
         transform: rotateZ(90deg);
      }
   }
   %nails {
      background: linear-gradient(to top, hotpink, yellow);
      width: 15px;
      height: 15px;
      position: absolute;
      transform: rotateZ(45deg);
      clip-path: polygon(
         0% 0%,
         0% 100%,
         25% 100%,
         25% 25%,
         75% 25%,
         75% 75%,
         25% 75%,
         25% 100%,
         100% 100%,
         100% 0%
      );
   }
   #nail1 {
      @extend %nails;
      top: 3%;
      left: 1%;
   }
   #nail2 {
      top: 3%;
      right: 1%;
      @extend %nails;
   }
   #nail3 {
      bottom: 5%;
      left: 1%;
      @extend %nails;
   }
   #nail4 {
      bottom: 5%;
      right: 1%;
      @extend %nails;
   }
   #heart1 {
      position: absolute;
      top: 0;
      left: 10%;
      img {
         width: 40vw;
         height: 5vh;
         animation: heart1 3s linear 0.1s 2 alternate;
         opacity: 0;
      }
      @keyframes heart1 {
         0% {
            transform: translateX(0vw);
            height: 70vh;
            opacity: 0.2;
         }
         20% {
            transform: translateX(-3vw);
            height: 70vh;
            opacity: 0.4;
         }
         40% {
            transform: translateX(-6vw);
            height: 70vh;
            opacity: 0.6;
         }
         60% {
            transform: translateX(-9vw);
            height: 70vh;
            opacity: 0.8;
         }
         80% {
            transform: translateX(-12vw);
            height: 70vh;
            opacity: 1;
         }
         100% {
            transform: translateX(-15vw);
            height: 70vh;
            opacity: 1;
         }
      }
   }
   #heart2 {
      position: absolute;
      top: 0;
      right: 10%;
      img {
         width: 40vw;
         height: 5vh;
         animation: heart2 3s linear 0.1s 2 alternate;
         opacity: 0;
      }
      @keyframes heart2 {
         0% {
            transform: translateX(0vw) rotateY(180deg);
            height: 70vh;
            opacity: 0.2;
         }
         20% {
            transform: translateX(3vw) rotateY(180deg);
            height: 70vh;
            opacity: 0.4;
         }
         40% {
            transform: translateX(6vw) rotateY(180deg);
            height: 70vh;
            opacity: 0.6;
         }
         60% {
            transform: translateX(9vw) rotateY(180deg);
            height: 70vh;
            opacity: 0.8;
         }
         80% {
            transform: translateX(12vw) rotateY(180deg);
            height: 70vh;
            opacity: 1;
         }
         100% {
            transform: translateX(15vw) rotateY(180deg);
            height: 70vh;
            opacity: 1;
         }
      }
   }
}
