@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");
$mainColor: #000;
$primaryColor: #fff;
@mixin border-rad($radius) {
   -webkit-border-radius: $radius;
   -moz-border-radius: $radius;
   border-radius: $radius;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font: {
      family: "Source Code Pro", monospace, arial, helvetica, cursive;
      size: 1em;
      weight: 500;
   }
   line-height: 1.7em;
   letter-spacing: 2px;
   word-spacing: 2px;
   background: linear-gradient(to right, #ece9e6, #ffffff);
   color: $mainColor;
}
::-webkit-scrollbar {
   background-color: red;
   width: 7px;
}
::-webkit-scrollbar-track {
   width: 5px;
   background-color: $primaryColor;
}
::-webkit-scrollbar-thumb {
   width: 5px;
   border-radius: 30px;
   background: linear-gradient(to top, #232526, #414345);
}
.home-limited {
   display: flex;
   margin: 2em 0;
   justify-content: flex-start;
   align-items: center;
   border-bottom: 2px solid $mainColor;
   padding: 20px;
   #heading {
      display: flex;
   }
   .top {
      text-decoration: none;
      color: $mainColor;
      font-weight: bold;
   }
}
.container {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding-bottom: 20px;
   border-bottom: 2px solid $mainColor;
   #rating {
      border-right: 1px solid $mainColor;
      padding: 50px;
      #rate {
         background: seagreen;
         color: $primaryColor;
         padding: 10px;
         border: 2px solid green;
         margin: 0 auto;
         display: block;
         @include border-rad(20px);
      }
   }
   #progress {
      #bar-5 {
         display: flex;
         align-items: center;
      }
      .one {
         width: 100px;
         height: 6px;
         background: seagreen;
         @include border-rad(20px);
         margin: 0 15px;
      }
      .two {
         width: 40px;
         @extend .one;
      }
      .three {
         width: 30px;
         @extend .one;
      }
      .four {
         width: 0px;
         background: orange;
         @extend .one;
      }
      .five {
         width: 0px;
         background: orangered;
         @extend .one;
      }
      #bar-4 {
         @extend #bar-5;
      }
      #bar-3 {
         @extend #bar-5;
      }
      #bar-2 {
         @extend #bar-5;
      }
      #bar-1 {
         @extend #bar-5;
      }
   }
}
main {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 30px;
   img {
      width: 200px;
   }
   .btn {
      background: seagreen;
      color: $primaryColor;
      padding: 7px;
      border: 1px solid green;
      @include border-rad(12px);
   }
   .btn1 {
      background: orange;
      border: 1px solid orange;
      @extend .btn;
   }
   .cust {
      font-size: 0.8em;
      font-weight: bold;
      text-align: center;
   }
   %rew1 {
      background: $primaryColor;
      padding: 15px;
      margin: 20px 0;
   }
   #rew1 {
      @extend %rew1;
   }
   #rew2 {
      @extend %rew1;
   }
   #rew3 {
      @extend %rew1;
   }
   #rew4 {
      @extend %rew1;
   }
   #rew5 {
      @extend %rew1;
   }
}
@media only screen and (min-width: 320px) and (max-width: 688px) {
   .container {
      display: flex;
      flex-direction: column;
      #rating {
         border-right: none;
         padding: 50px;
      }
   }
   main {
      justify-content: center;
      display: flex;
      align-items: center;
      img {
         width: 130px;
         height: 130px;
         padding-top: 20px;
      }
      .cust {
         font-size: 0.6em;
      }
   }
}
